In [ ]:
#SEQUENCE DATA TYPE:
#LIST,TUPLE,DICTIONARY
#LIST:[]
#TUPLE:()
#DICTIONARY:{}


#list
a=['abcd',786,2.23,"john",70.2]
b=[123,"xyz"]
print(a)
print(a[0])
print(a[1:3])
print(a[2:])
print(a+b)
print(a*2)

#tuple

a=('abcd',786,2.23,"john",70.2)
b=(123,"xyz")
print(a)
print(a[0])
print(a[1:3])
print(a[2:])
print(a+b)
print(a*2)

#Python range data type
#range(start,stop,step)
for i in range(1,5):
    print(i)
for i in range(1,10,2):
    print(i)

['abcd', 786, 2.23, 'john', 70.2]
abcd
[786, 2.23]
[2.23, 'john', 70.2]
['abcd', 786, 2.23, 'john', 70.2, 123, 'xyz']
['abcd', 786, 2.23, 'john', 70.2, 'abcd', 786, 2.23, 'john', 70.2]
('abcd', 786, 2.23, 'john', 70.2)
abcd
(786, 2.23)
(2.23, 'john', 70.2)
('abcd', 786, 2.23, 'john', 70.2, 123, 'xyz')
('abcd', 786, 2.23, 'john', 70.2, 'abcd', 786, 2.23, 'john', 70.2)
1
2
3
4